<!DOCTYPE html>
<html>
    <head>
    <title>ITELOM CORPORATIONS</title>
   
    
</head> 
    <body>
        {% include 'partials/header.html.twig'%}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig'%}
     
    <!-- Javascript -->          
    
    <!-- Javascript -->
    <script type="text/javascript" src="/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
       
    </body>
</html>
